{
  "presets": [
    "@babel/preset-env",
    "@vue/babel-preset-jsx",
    "@vue/app",
    "@babel/preset-typescript"
  ]
}
// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "useBuiltIns": "entry"
//       }
//     ]
//   ]
// }
